:root {
  --main-color-white: #A9BFE5;
  --main-color-light: #7599D5;
  --main-color: #4273C6;
  --main-color-dark: #315491;
  --secondary-color: #B0E888;
  --black: #2A2929;
  --dark-gray: #585757;
  --gray: #8F8E8D;
  --light-gray: #B7B7B6;
  --white-gray: #EDEDED;
  --white: #F4F4F4;
  --main-color-gradient: linear-gradient(to right, var(--main-color), var(--main-color-dark), var(--main-color));
};

body {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  border-right: var(--light-gray) solid 1px;
}

.header-default {
  width: 40vw;
  transition: 2s;
}

.header-not-selected {
  width: 200px;
  transition: 2s;
}

.header-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1, h2, h3, h5, h6, p {
  color: var(--dark-gray);
}

h4, li {
  color: var(--white);
}

.header-content {
  margin: 0 50px;
  text-align: center;
  transition: 1.5s;

}

.contact-info {
  margin: 5px 0;
}

.social-media-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
}

.social-media {
  display: inline-block;
}

hr {
  border: 0;
  background-image: var(--main-color-gradient);
  margin: 30px 0;
  height: 2px;
  width: 75%;
}

main {
  background: white;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

h1 {
  margin-right: auto
}

.logo-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 120px;
  margin-top: 20px;
  width: 120px;
  transition: 1.5s;
}

.nav-item {
  margin: 0 10px;
  border-bottom: 3px solid var(--main-color);
  padding-bottom: 3px;
}

.content-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  background-image: url("assets/background-leaf-v2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}

.tab {
  flex-grow: 1;
}

.tab-heading {
  background: white;
  background: linear-gradient(0deg, var(--white-gray) 0%, var(--white) 50%, white 100%);
  display: flex;
  align-items: center;
  height: auto;
}

.tab-heading:hover {
  background: var(--gray);
  background: linear-gradient(0deg, var(--light-gray) 0%, var(--gray) 50%, var(--dark-gray) 100%);
}

.tab-heading:hover h2{
  color: var(--white);
}

.tab-heading:active {
  background: var(--black);
  background: linear-gradient(0deg, var(--gray) 0%, var(--dark-gray) 50%, var(--black) 100%);
}

.tab-heading h2 {
  white-space: nowrap;
  margin: 0 30px;
}

.tab-heading hr {
  white-space: nowrap;
  margin-right: 30px;
  width: 100%;
}

.not-selected-heading {
  height: 100%;
}

.selected-heading {
  height: 20vh;
  background: linear-gradient(0deg, var(--black) 0%, var(--dark-gray) 50%, var(--gray) 100%);
  pointer-events: disabled;
  transition: background 2s ease;
}

.selected-heading h2 {
  color: var(--white);
}

.content-card {
  background-color:rgba(50, 50, 50, 0.8);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 0 15px;
  width: 200px;
  height: 200px;
}

.tab-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-heading {
  border-bottom: 2px solid var(--main-color-gradient);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: .8em;
  width: 100%;
  margin-left: 5px;
}

.content hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

ul {
  list-style: none;
  padding-left: 10px;
}

.content ul li {
  display: inline-block;
  font-size: .6em;
  margin-bottom: 10px;
}

.tab-default {
  height: 33.3334vh;
  transition: 1.5s;
}

.tab-selected {
  height: 50vh;
  transition: 1.5s;
}

.tab-not-selected {
  height: 20vh;
  transition: 1.5s;
}

.active-selection {
  transition: 1.5s;
}

.box-shadow {
  box-shadow: 2px 2px 5px 0px var(--dark-gray);
  -moz-box-shadow: 2px 2px 5px 0px var(--dark-gray);
  -webkit-box-shadow: 2px 2px 5px 0px var(--dark-gray);
}

.header-box-shadow {
  box-shadow: 0px 3px 10px -2px var(--dark-gray);
  -moz-box-shadow: 0px 3px 10px -2px var(--dark-gray);
  -webkit-box-shadow: 0px 3px 10px -2px var(--dark-gray);
}

.border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.hidden {
  opacity: 0;
  -webkit-transition: all .3s ease-out 0;
  -moz-transition: all .3s ease-out 0;
  -o-transition: all .3s ease-out 0;
  -ms-transition: all .3s ease-out 0;
  transition: all .3s ease-out 0;
}

.none {
  display: none;
}

.no-top-margin {
  margin-top: 0;
}

@media (max-width: 700px) {
  body {
    flex-direction: column;
  }

  .header, .header-default, .header-not-selected {
    flex-direction: row;
    width: 100vw;
    height: 25vh;
    border-bottom: var(--gray) solid 1px;
    justify-content: space-around;
  }

  .logo {
    /* width: 50vw;
    height: 50vw; */
    margin: auto;
  }

  .header-content-container {
    width: 50vw;
    margin: auto;
  }

  .header-content-container hr {
    display: none;
  }

  .header-content {
    margin: 0;
  }

  main {
    height: 75vh;
  }

  .no-top-margin {
    margin-top: 20px;
  }

  .bio, .social-media {
    display: none;
  }

  .content-container {
    height: 75vh;
  }

  .tab-default {
    height: 25vh;
  }

  .tab-selected {
    height: 50vh;
  }

  .tab-not-selected {
    height: 12.5vh;
  }

  .selected-heading {
    height: 18vh;
  }

  .content-heading {
    font-size: .9em;
  }

  .content ul li {
    font-size: .7em;
  }

  .content-card {
    height: 30vh;
  }
}
