:root {
  --main-color-white: #BEDCE9;
  --main-color-light: #88C0D7;
  --main-color: #3494BA;
  --main-color-dark: #225F77;
  --secondary-color: #B0E888;
  --black: #2A2929;
  --dark-gray: #585757;
  --gray: #8F8E8D;
  --light-gray: #B7B7B6;
  --white-gray: #EDEDED;
  --white: #F4F4F4;
  --main-color-gradient: linear-gradient(to right, var(--main-color-white), var(--main-color), var(--main-color-white));
};

body {
  transition: all 5s;
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  border-right: var(--light-gray) solid 1px;
}

.header-default {
  width: 700px;
}

.header-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: var(--dark-gray);
}

.header-content {
  margin: 0 50px;
  text-align: center;
}

.contact-info {
  margin: 5px 0;
}

.social-media-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
}

.social-media {
  display: inline-block;
}

hr {
  border: 0;
  background-image: var(--main-color-gradient);
  margin: 30px 0;
  height: 2px;
  width: 75%;
}

main {
  background: white;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

h1 {
  margin-right: auto
}

.logo {
  height: 120px;
  margin-top: 20px;
  width: 120px;
}

.nav-item {
  margin: 0 10px;
  border-bottom: 3px solid var(--main-color);
  padding-bottom: 3px;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
}

.tab {
  flex-grow: 1;
}

.tab-heading:hover {
  background-color: var(--gray);
}

.tab-heading:active {
  background-color: var(--black);
}

.tab-heading {
  background-color: white;
  border-top: 5px double var(--secondary-color);
  display: flex;
  align-items: center;
  height: auto;
}

.tab-heading h2 {
  white-space: nowrap;
  margin: 0 30px;
}

.tab-heading hr {
  white-space: nowrap;
  margin-right: 30px;
  width: 100%;
}

.content-card {
  background: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px;
  padding: 0 15px;
  width: 30%;
  height: 30vh;
}

.tab-content {
  display: flex;
  justify-content: space-around;
}

.content-heading {
  border-bottom: 2px solid var(--main-color-gradient);
  height: 60px;
  display: flex;
  align-items: center;
  font-size: .8em;
}

.content hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

ul {
  list-style: none;
  padding-left: 10px;
}

.content ul li {
  display: inline-block;
  font-size: .6em;
  margin-bottom: 10px;
}

.tab-default {
  height: 33.3334vh;
}

.tab-selected {
  height: 50vh;
  transition: 1s;
}

.tab-not-selected {
  height: 20vh;
  transition: 1s;
}

.not-selected-heading {
  height: 100%;
  transition: .4s;
}

.selected-heading {
  height: 20vh;
  transition: .4s;
  background-color: var(--dark-gray);
  pointer-events: disabled;
}

.selected-heading h2 {
  color: var(--white);
}

.selection-made-section {
  height: 40vh;
  transition: 1s;
}

.active-selection {
  transition: 1s;
}

.box-shadow {
  box-shadow: 2px 2px 5px 0px var(--dark-gray);
  -moz-box-shadow: 2px 2px 5px 0px var(--dark-gray);
  -webkit-box-shadow: 2px 2px 5px 0px var(--dark-gray);
}

.header-box-shadow {
  box-shadow: 0px 3px 10px -2px var(--dark-gray);
  -moz-box-shadow: 0px 3px 10px -2px var(--dark-gray);
  -webkit-box-shadow: 0px 3px 10px -2px var(--dark-gray);
}

.border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.no-top-margin {
  margin-top: 0;
}
